[submodule "Questions/Racket-2"]
	path = Questions/Racket-2
	url = https://github.com/CS2613-WI24-FR01B/racket-2-brennanleblanc0.git
[submodule "Questions/Racket-1"]
	path = Questions/Racket-1
	url = https://github.com/CS2613-WI24-FR01B/racket-1-brennanleblanc0.git
[submodule "Questions/Python-1"]
	path = Questions/Python-1
	url = https://github.com/CS2613-WI24-FR01B/python-1-brennanleblanc0
[submodule "Questions/Racket-3"]
	path = Questions/Racket-3
	url = https://github.com/CS2613-WI24-FR01B/racket-3-brennanleblanc0.git
[submodule "Exploration/EA1"]
	path = Exploration/EA1
	url = https://github.com/CS2613-WI24-FR01B/exploration-activity-1-brennanleblanc0.git
[submodule "Questions/Python-3"]
	path = Questions/Python-3
	url = https://github.com/CS2613-WI24-FR01B/python-3-brennanleblanc0
[submodule "Questions/Python-2"]
	path = Questions/Python-2
	url = https://github.com/CS2613-WI24-FR01B/python-2-brennanleblanc0.git
[submodule "Questions/Octave-1"]
	path = Questions/Octave-1
	url = https://github.com/CS2613-WI24-FR01B/octave-1-brennanleblanc0.git
[submodule "Questions/JavaScript-2"]
	path = Questions/JavaScript-2
	url = https://github.com/CS2613-WI24-FR01B/javascript-2-brennanleblanc0.git
[submodule "Questions/Octave-2"]
	path = Questions/Octave-2
	url = https://github.com/CS2613-WI24-FR01B/octave-2-brennanleblanc0.git
[submodule "Questions/JavaScript-3"]
	path = Questions/JavaScript-3
	url = https://github.com/CS2613-WI24-FR01B/javascript-3-brennanleblanc0.git
[submodule "Questions/Octave-3"]
	path = Questions/Octave-3
	url = https://github.com/CS2613-WI24-FR01B/octave-3-brennanleblanc0.git
[submodule "Questions/JavaScript-1"]
	path = Questions/JavaScript-1
	url = https://github.com/CS2613-WI24-FR01B/javascript-1-brennanleblanc0.git
