[submodule "Questions/Python-2/python-2-brennanleblanc0"]
	path = Questions/Python-2/python-2-brennanleblanc0
	url = https://github.com/CS2613-WI24-FR01B/python-2-brennanleblanc0.git
[submodule "Questions/Racket-2"]
	path = Questions/Racket-2
	url = https://github.com/CS2613-WI24-FR01B/racket-2-brennanleblanc0.git
